{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="contentbox">
    <h1>False Star - Welcome!~</h1>
        <div class="guildbox">
            <h2>To continue your application...</h2>

            <p>This step is required for us to be able to communicate with you. Applicants who fail to join the Discord can't be considered for joining.</p>
        
            <a class="btn btn-primary" onclick="window.location.href='{{discordserver}}'">Join our Discord</a>

        </div>
</div>
{% endblock %}